#custom-bg {
    background-image: url('https://i.redd.it/rcaj3dkc2jz61.png');
    -webkit-background-size: cover; 
    -moz-background-size: cover;
    -o-background-size: cover; 
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
}

#text {
    font-weight: bold;
    font-size: large;
}


